<div fxLayout="row" fxLayoutGap="20px">
    <div>
      <h2>News detail: </h2>
    </div>
  </div>
  
  <div class="mb-20" fxLayout="row wrap" flFlex flexLayout="row" flexLayout.lt-md="column" *ngIf="item">
    <div fxFlex>
      <mat-card fxFlex="100" *ngIf="item && viewType==0">
        <mat-card-header>
          <mat-card-title>
              news Detail:
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input matInput placeholder="name" [(ngModel)]="item.name" />
          <br /><br /><br />
          <input matInput placeholder="info" [(ngModel)]="item.info" />
          <br /><br /><br />
          <mat-select [(ngModel)]="item.active" placeholder="Active">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <br /><br /><br />
          <ckeditor [editor]="Editor" [(ngModel)]="item.description"></ckeditor>
          <p>Imagine:</p>
          <button mat-raised-button (click)="fileImageInput.click()">
            <span>Select Image</span>
            <input #fileImageInput type="file" style="display:none;" accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
              (change)="onFileImageInput($event)" />
          </button>
          <br /><br /><br />
          <div>
            <img class="mb-image" mat-card-image [src]="item.image" *ngIf="item.image">
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button mat-raised-button (click)="goBack()">Inapoi</button>
          <button mat-raised-button (click)="save()">Save</button>
        </mat-card-footer>
      </mat-card>
  
      <mat-card fxFlex="100" *ngIf="item && viewType==1">
        <mat-card-header>
          <mat-card-title>
            Tool Detail:
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ item.name }}
          <br /><br /><br />
          {{ item.info }}
          <br /><br /><br />
          {{ item.active }}        
          <br /><br /><br />
          {{ item.description }}        
          <br /><br /><br />
          <div>
            <img class="mb-image" mat-card-image [src]="item.image" *ngIf="item.image">
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button mat-raised-button (click)="goBack()">Inapoi</button>        
        </mat-card-footer>
      </mat-card>
    </div>
  </div>