.mat-card {
    text-align: left;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}

.mat-card.details {
  img {
      margin-top: 0px;
  }
}


.mb-20 {
    margin-bottom: 20px;
}

table {
  width: 100%;
}

.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mb-20 {
  margin-bottom: 20px;
}

.mat-column-select {
  overflow: initial;
}

.mb-image {
  max-width: 200px;
  max-height: 200px;
}

.news-main-body {
  padding: 0 15px;
}

// .news-content {
//   max-height: 500px;
// }