<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <div fxLayout="row" fxLayoutGap="20px">
                <div>
                    <h2>{{ 'Add topic:' | translate }} </h2>
                </div>
            </div>
            <input matInput placeholder="Tool name: " #toolName>
            <br />
            <input matInput placeholder="Tool info: " #toolInfo>
            <br />
            <button mat-raised-button class="inputbutton" (click)="addItem(toolName.value, toolInfo.value); toolName.value=''; toolInfo.value='';">Save</button>
        </mat-card>
    </div>
</div>

<br />
<br />

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div fxFlex *ngFor="let tool of toolItems">
        <mat-card>
            <img class="mb-image" mat-card-image [src]="tool.image" *ngIf="tool.image">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{tool.name}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{tool.info}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button routerLink="/tools/tool-detail/{{tool.id}}/1">Details</button>
                <button mat-button routerLink="/tools/tool-detail/{{tool.id}}/0">Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>