<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashbard
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/categories']">
            <mat-icon class="sidenav-icon">list</mat-icon> Categories
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/products']">
            <mat-icon class="sidenav-icon">keyboard</mat-icon> Products
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tools']">
            <mat-icon class="sidenav-icon">build</mat-icon> Tools
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/tutorials']">
            <mat-icon class="sidenav-icon">work</mat-icon> Tutorials
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/news']">
            <mat-icon class="sidenav-icon">subject</mat-icon> News
        </a>        
    </mat-nav-list>
</div>