.detail-image-container {
  margin-top: 20px;

  .mb-image {
    max-width: 200px;
    max-height: 200px;
    margin: 0;
  }
}

label {
  width: 90px;
  display: inline-block;
}

.mr-10 {
  margin-right: 10px;
}