<section *ngIf="item">
  <mat-card>
    <mat-card-title>{{item.name | uppercase}} {{ 'Details' | translate }}</mat-card-title>
    <mat-card-content>
      <div fxLayout="column wrap" fxLayoutGap="20px">
        <div>
          <label><strong>Id:</strong></label>
          <span>{{item.id}}</span>
        </div>
        <div>
          <label><strong>{{ 'Name:' | translate }}</strong></label>
          <input matInput [(ngModel)]="item.name" placeholder="{{ 'Name:' | translate }}" />
        </div>
        <div>
          <label><strong>{{ 'Info:' | translate }}</strong></label>
          <input matInput [(ngModel)]="item.info" placeholder="{{ 'Info:' | translate }}" />
        </div>
        <div>
          <label><strong>{{ 'Active:' | translate }}</strong></label>
          <mat-select [(ngModel)]="item.active" placeholder="{{ 'Active:' | translate }}">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
        </div>
        <div>
        <label><strong>{{ 'Image:' | translate }}</strong></label>
          <button class="mr-10" mat-raised-button (click)="fileImageInput.click()">
            <span>{{ 'Select image' | translate }}</span>
            <input #fileImageInput type="file" style="display:none;"
              accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg" (change)="onFileImageInput($event)" />
          </button>
          <button mat-raised-button 
            *ngIf="item.image"
            (click)="deleteImage(item)">{{ 'Delete image' | translate }}</button>
          <div class="detail-image-container">
            <img class="mb-image" mat-card-image [src]="item.image" *ngIf="item.image">
          </div>
        </div>
      </div>
    </mat-card-content>
    <button class="mr-10" mat-raised-button (click)="goBack()">{{ 'Go back' | translate }}</button>
    <button mat-raised-button (click)="save()">{{ 'Save' | translate }}</button>
  </mat-card>

</section>